<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GO WS Life</title>
    <!-- <link rel='stylesheet' type='text/css' href='/static/style.css'> -->

    <style>
      *,
      :after,
      :before {
        box-sizing: border-box;
      }
      .container {
        padding: 2rem;
      }
      #content {
        max-width: 800px;
      }
      #frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
      }
      #canvas_div {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        height: 100%;

        background: #eef;
        border: solid 1px #666;
      }
      #canvas_div i {
        display: block;
        width: 10%;
      }
      #canvas_div i.dead {
        background: #ccc;
      }
      #canvas_div i.alive {
        background: #333;
      }
      #canvas_div i::before {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
      }
      #canvas {
        position: relative;
        max-width: 100%;
      }
      #canvas_img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100px;
        max-width: 100%;
        height: auto;
        width: 100%;

        image-rendering: pixelated;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>GO WS Life: {{.URL}}</h1>

      <div class="container">
        <div id="content">
          <div id="frame">
            <div id="canvas_div"></div>
            <canvas id="canvas"></canvas>
            <img id="canvas_img" />
          </div>
        </div>
      </div>
    </div>

    <script src="/static/main.js"></script>
  </body>
</html>
